@charset "UTF-8";
/* zmienne, kolory itp */
/* @keyframes */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* np. .heading-primary */
/* np. .margin-big, .margin-small */
/* component np. slider */
/* style dla headera */
/* style dot. strony głównej */
